@model CloudPRNT_Solution.Models.DeviceTable

@{
    ViewData["Title"] = "Create";
}

<h3>Add a new Printer</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPrinter" asp-controller="DeviceTable" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
            <div class="form-group">
                 <label asp-for="PrinterMac" class="control-label"></label>
                <input asp-for="PrinterMac" class="form-control" />
                <span asp-validation-for="PrinterMac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueueID" class="control-label"></label>
                <input asp-for="QueueID" class="form-control" />
                <span asp-validation-for="QueueID" class="text-danger"></span>
            </div>
            <h1></h1>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add Printer</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Management" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
